@page
@model Programare_ingrijitor.Pages.Programari.IndexModel

@{
    ViewData["Title"] = "Index";
}



<div class="cutie" class="cutie" data-aos="fade-right" data-aos-duration="2000">

<h1>Pogramari</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Client)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Serviciu)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Serviciu.Ingrijitor)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].DataProgramare)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Programare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.NumeComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serviciu.Denumire_Serviciu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serviciu.Ingrijitor.NumeComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataProgramare)
            </td>
        
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

