@page
@model Programare_ingrijitor.Pages.Servicii.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="cutie">

<h1>Details</h1>

<div>
    <h4>Serviciu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Denumire_Serviciu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Denumire_Serviciu)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Cost_consultatie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Cost_consultatie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Data_Programare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Data_Programare)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Serviciu?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</div>
